/node_modules
**/*.svg
package.json
.DS_Store
.eslintignore
.stylelintignore
*.png
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
/README.md
CNAME
/build
/public
/src/assets